/* This file is for your main application css. */

.center-text {
    text-align: center;
}

#piano-container {
    height: 60vh;

    position: relative;
}

.white-key {
    height: 50%;
    width:  6.66%; /* 100% / 15 white keys */ 

    background-color: white;
    border-style:     solid;
    border-width:     2px;

    position: absolute;
    top:      25%;
}

/* Each key starts where previous ends. Start at 0, keep adding white key width */
#note-c-1 {left: 0%;    }
#note-d-1 {left: 6.66%; }
#note-e-1 {left: 13.33%;}
#note-f-1 {left: 20%;   }
#note-g-1 {left: 26.66%;}
#note-a-1 {left: 33.33%;}
#note-b-1 {left: 40%;   }
#note-c-2 {left: 46.66%;}
#note-d-2 {left: 53.33%;}
#note-e-2 {left: 60%;   }
#note-f-2 {left: 66.66%;}
#note-g-2 {left: 73.33%;}
#note-a-2 {left: 80%;   }
#note-b-2 {left: 86.66%;}
#note-c-3 {left: 93.33%;}

.black-key {
    height: 33%;
    width:  3.33%; /* Black key width ~50% white key width */

    background-color: black;

    position: absolute;
    top:      25%;
}

/* Subtract 25% from the starting point of next white key (50% of black on both whites) */
#note-cs-1 {left: 5%;    }
#note-ds-1 {left: 11.66%;}
#note-fs-1 {left: 25%;   }
#note-gs-1 {left: 31.66%;}
#note-as-1 {left: 38.33%;}
#note-cs-2 {left: 51.66%;}
#note-ds-2 {left: 58.33%;}
#note-fs-2 {left: 71.66%;}
#note-gs-2 {left: 78.33%;}
#note-as-2 {left: 85%;   }