/* This file is for your main application css. */

#message-list {
    border: 1px solid #000;
    height: 600px;
    padding: 5px;
    overflow: scroll;
    margin-bottom: 30px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items:stretch;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -200px;
}
